
        <link href="http://localhost:3002/static/fragment.css" rel="stylesheet" />
        <h2> Other Cars to look for </h2>
        <div class="recommendations">
            <h2> Scross 2023 </h2>
           
    
        <a href="http://localhost:3001/product/ciaz" target="_parent">
            <image class="image" src="/images/ciaz-small.jpg"></image>
       </a>
       <a href="http://localhost:3001/product/baleno" target="_parent">
          <image class="image" src="/images/baleno-small.jpg"></image>
     </a>

    </div>
   